:root {
  /* colors */
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --accent-color: #2196f3;
  --accent-active-color: #188ce8;
  --accent-bg-color: #2f303a;
  --primary-bg-color: #ffffff;
  --seconadary-bg-color: #f5f4fa;
  --trnasparant-light-color: #ffffff 60 %;
  --light-gray-color: #ececec;
  --gray-color: #eeeeee;
  --black-color: #000000;

  /* fonts */
  --primary-fonts: "Roboto", sans-serif;
  --secondary-fonts: "Raleway", sans-serif;
}